@import "tailwindcss";

.car-animation {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  animation: drive 5s linear infinite;
}

@keyframes drive {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(calc(-100vw - 120px));
  }
}

.glitch {
  position: relative;
  color: white;
  letter-spacing: 2px;
}

.glitch span {
  position: relative;
  display: inline-block;
}

.glitch span::before,
.glitch span::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.glitch span::before {
  color: #ff0000;
  z-index: -1;
  animation: glitchTop 1s infinite linear alternate-reverse;
}

.glitch span::after {
  color: #00ffff;
  z-index: -2;
  animation: glitchBottom 1s infinite linear alternate-reverse;
}

@keyframes glitchTop {
  0% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-2px, -2px);
  }
  50% {
    clip-path: inset(10% 0 60% 0);
    transform: translate(2px, 2px);
  }
  100% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-2px, 2px);
  }
}

@keyframes glitchBottom {
  0% {
    clip-path: inset(80% 0 0 0);
    transform: translate(2px, 2px);
  }
  50% {
    clip-path: inset(60% 0 10% 0);
    transform: translate(-2px, -2px);
  }
  100% {
    clip-path: inset(80% 0 0 0);
    transform: translate(2px, -2px);
  }
}